* {
    box-sizing: border-box;
}
    
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}
    
h1 {
    background-color: rgb(87, 126, 253);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 20px 0;
    padding: 20px;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: lighter;
    margin: 20px 0;
}

h5 {
    text-align: center;
}

input {
    margin: 10px 0;
}


#search-btn {
    margin: 10px 0;
}

#current-day {
    color: #999999;
    font-size: 24px;
}

.bg-uvi {
    display: inline-block;
    padding: 3px 10px;
    width: 75px;
    margin-left: 10px;
    border-radius: 2px;
    text-align: center;
}

.badge-extreme {
    background-color: #a18efc;
    color: #fff;
}

.badge-veryhigh {
    background-color: #ba2323;
    color: #fff;
}

.badge-high {
    background-color: #fa7a2a;
    color: #000;
}

.badge-moderate {
    background-color: #faf32a;
    color: #000;
}

.badge-good {
    background-color: #008a10;
    color: #fff;
}

.forecast {
    background-color: #eeeeee;
}