* {
    box-sizing: border-box;
}
    
body {
    background-color: #f7f7f7;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 1em;
}
    
h1 {
    background: linear-gradient(to right, #adb4c9, #cebd9d);
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #333;
    margin: 20px 0;
    padding: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

h5 {
    text-align: center;
    font-weight: bold;
}

.hide {
    display: none;
}

/* sidebar section */

input {
    margin: 10px 0;
}

#recent-search.card {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#search-btn, #clear-btn {
    margin: 10px 0;
}

/* current weather section */

#current-weather {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
}

#current-city {
    padding-left: 20px;
}

#current-city img {
    display: block;
    margin: 0px auto;
    width: 250px;
}

.current-date {
    color: #999999;
    font-size: 20px;
    line-height: 1.5;
}

.current-temp {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
}

.bg-uvi {
    display: inline-block;
    padding: 2px 10px;
    margin-left: 5px;
    border-radius: 2px;
    text-align: center;
}

.badge-extreme {
    background-color: #a18efc;
    color: #fff;
}

.badge-veryhigh {
    background-color: #ba2323;
    color: #fff;
}

.badge-high {
    background-color: #fa7a2a;
    color: #000;
}

.badge-moderate {
    background-color: #faf32a;
    color: #000;
}

.badge-good {
    background-color: #008a10;
    color: #fff;
}

/* forecast section */

#display-forecast {
    margin-bottom: 15px;
}

.forecast {
    background: linear-gradient(#a6abb5, #f2ece0);
    color: #444;
    font-size: 14px;
    margin-bottom: 15px;
}

.forecast-temp {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.forecast img {
    display: block;
    margin: 0px auto;
    height: 100px;
}